
<section class="content">
  <div class="panel panel-primary">
     <div class="panel-heading">
        <h3 class="panel-title">Edit User</h3>
     </div>
     <div class="panel-body">
        <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()">
           <div class="form-group">
              <label for="FullName" class="col-sm-2 control-label">Fullname </label>
              <div class="col-sm-8">
                <input type="email" class="form-control" required formControlName="fullName"   id="fullname" name="fullname" placeholder="Fullname">
                <div *ngIf="userForm.get('fullName').invalid
                                   && userForm.get('fullName').touched" style="color: red; margin-top: 5px;" role="alert">
                     <ng-container *ngIf="userForm.get('fullName').hasError('required')">
                        FullName name is required
                     </ng-container>
                     <ng-container *ngIf="userForm.get('fullName').hasError('minlength')">
                        Min length must be greater than 5
                        {{ userForm.get('name').getError('minlength').requiredLength }}
                     </ng-container>
                  </div>
               </div>
           </div>
           <div class="form-group">
            <label for="Email" class="col-sm-2 control-label">Email </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" required formControlName="email" id="email" name="email" placeholder="Email">
                <div *ngIf="userForm.get('email').invalid
                  && userForm.get('email').touched" style="color: red; margin-top: 5px;" role="alert">
                     <ng-container *ngIf="userForm.get('email').hasError('required')">
                        Email name is required
                     </ng-container>
                     <ng-container *ngIf="userForm.get('email').hasError('email')">
                        Email is not format (username@cmc.com.vn)
                     </ng-container>
               </div>
            </div>
           </div>
           <div class="form-group">
            <label for="inputMobile3" class="col-sm-2 control-label">Mobile</label>

            <div class="col-sm-8">
              <input type="text" class="form-control" required formControlName="mobile" id="mobile" name="mobile" placeholder="Mobile">
              <div *ngIf="userForm.get('mobile').invalid
                                   && userForm.get('mobile').touched" style="color: red; margin-top: 5px;" role="alert">
                     <ng-container *ngIf="userForm.get('mobile').hasError('required')">
                        Mobile name is required
                     </ng-container>
                     <ng-container *ngIf="userForm.get('mobile').hasError('maxLength')">
                        Mobile must be 10 numbers
                        {{ userForm.get('mobile').getError('maxLength').requiredLength }}
                     </ng-container>
                     <!-- <ng-container *ngIf="userForm.get('mobile').hasError('pattern')">
                        Mobile must have number 09 and 01
                    </ng-container> -->
                </div>
            </div>
          </div>
          <!-- <div class="form-group">
              <label for="password" class="col-sm-2 control-label">Password</label>

              <div class="col-sm-8">
                <input type="text" class="form-control" disabled required  id="password" formControlName="password" name="password" placeholder="Password">
                <div *ngIf="userForm.get('password').invalid
                                   && userForm.get('password').touched" style="color: red; margin-top: 5px;" role="alert">
                     <ng-container *ngIf="userForm.get('password').hasError('required')">
                        Password name is required
                     </ng-container>
                     <ng-container *ngIf="userForm.get('password').hasError('minLength')">
                        Password must be 10 numbers
                        {{ userForm.get('password').getError('minLength').requiredLength }}
                     </ng-container>
                  </div>
               </div>
          </div> -->
          <div class="form-group">
              <label for="Status" class="col-sm-2 control-label" >Status</label>
              <div class="col-sm-10">
                <input type="checkbox" id="status" checked="isChecked" formControlName="status" name="status" > &nbsp;&nbsp; Hoạt động
              </div>
          </div>

           <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-primary">Save</button> &nbsp;&nbsp;&nbsp;
                 <button type="button" class="btn btn-primary"  [routerLink]="['/user', 'list']">Back</button>
              </div>
           </div>
        </form>
     </div>
  </div>
</section>
