<!-- --------------------------------------header -->
<header class="main-header">
   <!-- Logo -->
   <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CMC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>CMC Trainging</b></span>
   </a>
   <!-- Header Navbar: style can be found in header.less -->
   <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->


      <div class="navbar-custom-menu">
         <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Notifications: style can be found in dropdown.less -->

            <!-- Tasks: style can be found in dropdown.less -->

            <!-- User Account: style can be found in dropdown.less -->

            <!-- Control Sidebar Toggle Button -->
            <li>
               <a href="#">Đăng nhập</a>
            </li>
         </ul>
      </div>
   </nav>
</header>

<!-- ----------------------------------------------------- Sidebar -->

<div class="exam-content">

</div>



