<aside class="main-sidebar">
   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- Sidebar user panel -->


      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
         <li class="active treeview">
            <a href="#">
               <i class="fa fa-dashboard"></i> <span>Duration</span>
            </a>
         </li>
         <li class="treeview">
            <div class="duration-wrapper">
               <p class="duration">{{message}}</p>
            </div>
         </li>
      </ul>

      <div class="index-question">
         <div class="index-question-item">1</div>
         <div class="index-question-item">2</div>
         <div class="index-question-item">3</div>
         <div class="index-question-item">4</div>
         <div class="index-question-item">5</div>
         <div class="index-question-item">6</div>
         <div class="index-question-item">1</div>
         <div class="index-question-item">2</div>
         <div class="index-question-item">3</div>
         <div class="index-question-item">4</div>
         <div class="index-question-item">5</div>
         <div class="index-question-item">6</div>
         <div class="index-question-item">1</div>
         <div class="index-question-item">2</div>
         <div class="index-question-item">3</div>
         <div class="index-question-item">4</div>
         <div class="index-question-item">5</div>
         <div class="index-question-item">6</div>
         <div class="index-question-item">1</div>
         <div class="index-question-item">2</div>
         <div class="index-question-item">3</div>
         <div class="index-question-item">4</div>
         <div class="index-question-item">5</div>
         <div class="index-question-item">6</div>
         <div class="index-question-item">1</div>
         <div class="index-question-item">2</div>
         <div class="index-question-item">3</div>
      </div>
   </section>
   <div class="btn-exam-submit-group">
      <button class="btn btn-success" (click)="openModal(template)">Nộp bài</button>
   </div>
</aside>
<div class="exam-content">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h1 class="panel-title">Kì thi: Fresher java</h1>
         <h5>Đề thi: Java</h5>
         <h5>Ngày thi: 11-1-2019</h5>
      </div>
      <div class="panel-body">
         <form>
            <div class="question-wrapper">
               <div class="row">
                  <div>
                     <p><b>Câu 1:</b>What is Lorem Ipsum?</p>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">A.
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">B.
                           when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">C.
                           It has survived not only five centuries,
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">D. but also the leap into electronic
                           typesetting, remaining essentially unchanged. It was
                           popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                           and more recently with desktop publishing software like Aldus PageMaker including versions of
                           Lorem Ipsum
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="question-wrapper">
               <div class="row">
                  <div>
                     <p><b>Câu 1:</b>What is Lorem Ipsum?</p>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">A.
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">B.
                           when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">C.
                           It has survived not only five centuries,
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">D. but also the leap into electronic
                           typesetting, remaining essentially unchanged. It was
                           popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                           and more recently with desktop publishing software like Aldus PageMaker including versions of
                           Lorem Ipsum
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="question-wrapper">
               <div class="row">
                  <div>
                     <p><b>Câu 1:</b>What is Lorem Ipsum?</p>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">A.
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">B.
                           when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">C.
                           It has survived not only five centuries,
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">D. but also the leap into electronic
                           typesetting, remaining essentially unchanged. It was
                           popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                           and more recently with desktop publishing software like Aldus PageMaker including versions of
                           Lorem Ipsum
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="question-wrapper">
               <div class="row">
                  <div>
                     <p><b>Câu 1:</b>What is Lorem Ipsum?</p>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">A.
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">B.
                           when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">C.
                           It has survived not only five centuries,
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">D. but also the leap into electronic
                           typesetting, remaining essentially unchanged. It was
                           popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                           and more recently with desktop publishing software like Aldus PageMaker including versions of
                           Lorem Ipsum
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="question-wrapper">
               <div class="row">
                  <div>
                     <p><b>Câu 1:</b>What is Lorem Ipsum?</p>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">A.
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">B.
                           when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">C.
                           It has survived not only five centuries,
                        </label>
                     </div>
                  </div>
                  <div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">D. but also the leap into electronic
                           typesetting, remaining essentially unchanged. It was
                           popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                           and more recently with desktop publishing software like Aldus PageMaker including versions of
                           Lorem Ipsum
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="panel-footer"></div>
   </div>
</div>


<!-- <ng-template #template>
   <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default">Yes</button>
      <button type="button" class="btn btn-primary">No</button>
   </div>
</ng-template> -->
<ng-template #template >
   <div class="modal-header">
     <h4 class="modal-title pull-left">Thông báo</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Bạn có muốn nộp bài thi ?

   </div>
   <div class="modal-footer">
         <button type="button" class="btn btn-success" (click)="modalRef.hide()">Thực hiện</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Thoát</button>
    </div>
 </ng-template>
