<!-- <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" routerLink="/manager/semester/1">Details</a></li>
  <li class="active"><a data-toggle="tab" routerLink="/manager/semester/1">Report</a></li>
  <li class="active"><a data-toggle="tab" routerLink="/manager/semester/1">Candidate</a></li>
  <li class="active"><a data-toggle="tab" routerLink="/manager/semester/1">Test</a></li>
</ul>
<div>
  <router-outlet></router-outlet>
</div> -->
<ul>
  <li class="active"><a routerLink="/manager/semester/1">Ki 1</a></li>
  <li class="active"><a routerLink="/manager/semester/2">Ki 2</a></li>
  <li class="active"><a routerLink="/manager/semester/3">Ki 3</a></li>
  <li class="active"><a routerLink="/manager/semester/4">Ki 4</a></li>
</ul>
