.form-control {
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.text-status{
   padding: 4px 8px;
   font-size: 12px;
}

label{
   text-align: left !important;
   font-weight: 550;
   font-size: 15px;
}

.modal .btn {
   min-width: 0px !important;
}

.modal-header{
   background-color: #00a65a;
   padding: 10px;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
}
.modal-footer{
   padding: 10px;
   background-color: #d2d6de;
}

.current {
   padding: 6px 12px !important;
}


