<section class="content-header">
   <h1>
      Dashboard
      <small>Control panel</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
   </ol>
</section>
<section class="content">
   <div class="box">
      <div class="box-body">
         <div class="table-wrapper">
            <div class="table-title">
               <div class="row">
                  <div class="col-sm-12">
                     <h2>Semester Exam</h2>
                  </div>
               </div>
            </div>

            <div class="container-fluid" style="padding-top: 20px;">
               <div class="row">
                  <div class="col-md-12">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <div class="col-sm-4">
                              <input type="text" class="input-sm form-control" placeholder="Tên kỳ thi">
                           </div>
                           <div class="col-md-4">
                              <select type="text" class="input-sm form-control">
                                 <option value="">Trạng thái</option>
                                 <option value="">draft</option>
                                 <option value="">public</option>
                                 <option value="">done</option>
                              </select>
                           </div>
                           <div class="col-md-4">
                              <input type="text" class="input-sm form-control" placeholder="Người tạo">
                           </div>
                        </div>

                        <div class="form-group">
                           <div class="col-sm-4">

                              <div class="input-group">
                                 <input type="text" placeholder="Ngày bắt đầu" class="form-control" bsDatepicker>
                                 <div class="input-group-btn">
                                    <button class="btn btn-default">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="input-group">
                                 <input type="text" placeholder="Ngày kết thúc" class="form-control" bsDatepicker>
                                 <div class="input-group-btn">
                                    <button class="btn btn-default">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4 text-center">
                              <button type="button" class="btn btn-primary">
                                 <span class="glyphicon glyphicon-filter"></span> Submit
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-6">
                     <a routerLink="create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add
                        news</a>
                     <button class="btn btn-danger" style="margin-left: 5px;" (click)="deleteItem()"
                        [disabled]="arrDelete.length==0">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                     </button>
                  </div>
                  <div class="col-md-6">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="search by name" [(ngModel)]="keyword"
                           (keypress)="enterSearch($event)">
                        <span class="input-group-btn">
                           <button class="btn btn-default btn-flat" type="submit" (click)="searchByKeyword()">
                              <i class="glyphicon glyphicon-search"></i>
                           </button>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="row" style="padding-top: 10px;">
                  <div class="col-md-12">
                     <table class="table table-bordered table-hover table-sm">
                        <thead>
                           <tr>
                              <th>
                                 <span class="custom-checkbox">
                                    <input type="checkbox" id="checkboxAll" (change)="isCheckAll($event)">
                                    <label for="checkboxAll"></label>
                                 </span>
                              </th>
                              <th>Tên kỳ thi</th>
                              <!-- <th>Mô tả kỳ thi</th> -->
                              <th>Người tạo</th>
                              <th>Status</th>
                              <th>Ngày bắt đầu</th>
                              <th>Ngày kết thúc</th>
                              <th>Mã code</th>
                              <th class="text-center" style="width: 10% !important">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let item of semesterExamList | paginate: configPagination ">
                              <td scope="row">
                                 <span class="custom-checkbox">
                                    <input type="checkbox" id="{{item.id}}" value="{{item.id}}" (change)="getId($event)"
                                       [checked]="isCheck">
                                    <label for="{{item.id}}"></label>
                                 </span>
                              </td>
                              <td><a routerLink="{{item.id}}">{{item.name}}</a></td>
                              <!-- <td>{{item.description}}</td> -->
                              <td>{{item.user.fullName}}</td>
                              <!-- <td>{{item.status}}</td> -->

                              <td>
                                 <ng-container *ngIf="item.status==0">
                                    <span class="label label-default text-status">draft</span>
                                 </ng-container>
                                 <ng-container *ngIf="item.status==1">
                                    <span class="label label-info text-status">public</span>
                                 </ng-container>
                                 <ng-container *ngIf="item.status==2">
                                    <span class="label label-success text-status">done</span>
                                 </ng-container>
                              </td>

                              <td>{{item.startTime | date: 'dd/MM/yyyy'}}</td>
                              <td>{{item.endTime | date: 'dd/MM/yyyy'}}</td>
                              <td></td>
                              <td style="width: 10% !important" class="text-center">
                                 <button class="btn btn-primary btn-sm" style="margin-right: 5px;"
                                    (click)="openModal(item.id,template)">
                                    <span class="glyphicon glyphicon-copy"></span>
                                    Clone
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="clearfix">
               <div class="hint-text">Showing&nbsp;</div>
               <div class="hint-text">
                  <select name="" id="" (change)="changeItemsPerPage($event.target.value)" [(ngModel)]="configPagination.itemsPerPage"
                     name="items">
                     <option value="2">2</option>
                     <option value="4">4</option>
                     <option value="6">6</option>
                     <option value="8">8</option>
                  </select>
               </div>
               <div class="hint-text">&nbsp;out of <b>25</b> entries</div>

               <ul class="pagination">
                  <li class="page-item disabled"><a href="#">Previous</a></li>
                  <li class="page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item active"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">Next</a></li>
               </ul>
            </div>
            <div>
               <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
            </div>
         </div>
      </div>
   </div>
</section>


<ng-template #template>

   <div class="modal-dialog modal-lg">
      <div class="modal-header">
         <h4 class="modal-title">Clone kỳ thi</h4>
         <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <tabset #staticTabs>
            <tab heading="Static title">
               <form class="form-horizontal" style="padding-top: 10px;">
                  <div class="form-group">
                     <label for="name" class="col-sm-2 control-label">Tên kỳ thi</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="text" id="example-text-input" placeholder="Tên kỳ thi"
                           autocomplete="off" [value]="obj.name">
                     </div>
                  </div>

                  <div class="form-group">
                     <label for="name" class="col-sm-2 control-label">Người tạo</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="text" id="example-text-input" placeholder="Tên kỳ thi"
                           autocomplete="off" value="Dinh Van Thuan" [value]="obj.user.fullName">
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="col-sm-2 control-label">Ngày bắt đầu</label>
                     <div class="col-sm-4">

                        <div class="input-group">
                           <input type="text" placeholder="Chọn ngày bắt đầu" class="form-control" bsDatepicker
                              #start="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default" (click)="start.show()">
                                 <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                           </div>
                        </div>
                     </div>

                     <label class="col-sm-2 control-label">Ngày kết thúc</label>
                     <div class="col-sm-4">
                        <div class="input-group">
                           <input type="text" placeholder="Chọn ngày kết thúc" class="form-control" bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" #end="bsDatepicker">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default" (click)="end.show()">
                                 <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label for="describe" class="col-sm-2 control-label">Mô tả kỳ thi</label>
                     <div class="col-sm-10">
                        <ckeditor name="myckeditor" required>
                        </ckeditor>
                     </div>
                  </div>
               </form>
            </tab>
            <tab heading="Static Title 1">Static content 1</tab>
            <tab heading="Static Title 2">Static content 2</tab>
            <tab heading="Static Title 3">Static content 3</tab>
         </tabset>

      </div>

      <div class="modal-footer">
         <button type="submit" class="btn btn-primary" [disabled]="true">Save</button>
         <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i> close</span>
         </button>
      </div>
   </div>
</ng-template>
