<div class="container">
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <div class="form-test">

               <div class="panel panel-default">

                  <div class="panel-body">
                     <form>
                        <div class="row form-group">
                           <div class="col-md-1"></div>
                           <div class="col-md-10">
                              <input placeholder="Nhập mã code của kỳ thi" class="form-control" />
                           </div>
                        </div>
                        <div class=" row form-group">
                           <div style="text-align:center;">
                              <button class="btn btn-default">Test</button>
                           </div>

                        </div>
                     </form>

                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4"></div>
      </div>

   </div>
