
<div class="panel-body">
  <router-outlet></router-outlet>
</div>


<!-- <router-outlet *ngIf="!isAuthentication"></router-outlet>

<div class="wrapper" *ngIf="isAuthentication">

  <app-header></app-header>

  <app-nav></app-nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div> -->
<!-- *ngIf="isLoggedIn; else loggedOut" -->
<!--
<router-outlet *ngIf="!authority; else dalogin"></router-outlet>

<div #dalogin>

  <app-header></app-header>

  <app-nav></app-nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div> -->
