<!-- --------------------------------------header -->
<header class="main-header">
   <!-- Logo -->
   <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CMC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>CMC Trainging</b></span>
   </a>
   <!-- Header Navbar: style can be found in header.less -->
   <nav class="navbar navbar-static-top">

      <div class="navbar-custom-menu">
         <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.2.0/img/user2-160x160.jpg"
                     class="user-image" alt="User Image">
                  <span class="hidden-xs">{{user.fullName}}</span>
               </a>
               <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                     <img src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.2.0/img/user2-160x160.jpg"
                        class="img-circle" alt="User Image">

                     <p>
                        Alexander Pierce - Web Developer
                        <small>Member since Nov. 2012</small>
                     </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                     <div class="row">
                        <div class="col-xs-4 text-center">
                           <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                           <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                           <a href="#">Friends</a>
                        </div>
                     </div>
                     <!-- /.row -->
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                     <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                     </div>
                     <div class="pull-right">
                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                     </div>
                  </li>
               </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
               <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
         </ul>
      </div>
   </nav>
</header>

<!-- ----------------------------------------------------- Sidebar -->
<aside class="main-sidebar">
   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
         <div class="pull-left image">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.2.0/img/user2-160x160.jpg" class="img-circle"
               alt="User Image">
         </div>
         <div class="pull-left info">
            <p>{{user.fullName}}</p>
            <a><i class="fa fa-circle text-success"></i> Online</a>
         </div>
      </div>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
         <li class="active treeview">
            <a href="#">
               <i class="fa fa-dashboard"></i> <span>Duration</span>
            </a>
         </li>
         <li class="treeview">
            <div class="duration-wrapper">
               <p class="duration">{{message}}</p>
            </div>
         </li>
      </ul>

      <div class="index-question">
         <div class="index-question-item" *ngFor="let i of examQuestion, let id = index" (click)="viewQuestion(id)"
            data-choice-2="1">
            {{id+1}}</div>
      </div>
   </section>
   <div class="btn-exam-submit-group">
      <button id="submitBtn" class="btn btn-success" (click)="openModal(template)">Nộp bài</button>
   </div>
</aside>
<div class="exam-content">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h1 class="panel-title">{{test?.testName}}</h1>
         <h5>{{exam?.title}}</h5>
      </div>
      <div class="panel-body">
         <form #testResult="ngForm">
            <div class="question-wrapper container">
               <div class="row" *ngFor="let i of examQuestion, let id=index">
                  <div id="{{id}}"><b>{{id+1}}</b>. {{i.question.content}}</div>
                  <div class="container" *ngFor="let j of i.choiceOrderList, let id2 = index"
                     ngModelGroup="{{i.question.questionId}}">
                     <div class="checkbox">
                        <label><input type="checkbox" name="{{i.question.answers[j-1].answerId}}" ngModel
                              value="false">{{labelOption[id2]}}.
                           {{i.question.answers[j-1].content}}</label>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="panel-footer">
         <hr>
      </div>
   </div>
</div>

<ng-template #template>
   <div class="modal-body text-center">
      <p>Are you done?</p>
      <button type="button" class="btn btn-default" (click)="submitTest(testResult.value)">Yes</button>
      <button type="button" class="btn btn-primary" (click)="closeModal()">No</button>
   </div>
</ng-template>

<ng-template #TimeUpTemplate>
   <div class="modal-body text-center">
      <div class="exam-done-message">
         <p>Time's up</p>
      </div>
   </div>
</ng-template>
