<section class="content-header">

<!-- open tag -->

    <div class="col-sm-6">
        <a href="#a" class="btn btn-success" data-toggle="modal">
          <i class="glyphicon glyphicon-plus-sign"></i> 
          <span>Add Tag</span>
        </a>
      </div>

    <div id="a" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content"> 

            <form (ngSubmit)="onSubmit()" [formGroup]="tagFrm">
              
              <div class="modal-header">
                <h4 class="modal-title">Add Tag</h4>
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>


              <div class="modal-body">
                <h3 style="color: blueviolet;" *ngIf="message">Đã thêm!</h3>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">
                      Name:
                    </label>
                    <div class="col-10">
                      <input  class="form-control" 
                              type="text" 
                              formControlName="tag_name"
                              id="example-text-input" 
                             
                              [ngClass]="{
                                'is-valid': tagFrm.get('tag_name').valid,    
                                'is-invalid': tagFrm.get('tag_name').invalid
                                && tagFrm.get('tag_name').touched
                              }"
                        >
                    </div>
                  </div>
                  <div *ngIf="tagFrm.get('tag_name').invalid && tagFrm.get('tag_name').touched" class="alert alert-danger">
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('required')">
                     chưa có tên
                    </ng-container>
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('minlength')">
                      nhập ít nhất {{tagFrm.get('tag_name').getError('minlength').requiredLength}} kí tự
                    </ng-container>
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('maxlength')">
                     nhập nhiều nhất  {{tagFrm.get('tag_name').getError('maxlength').requiredLength}} kí tự
                    </ng-container>
                  </div>
                
                  <div class="form-group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                          Description:
                      </label>
                      <div class="col-10">
                        <input class="form-control" 
                        type="text" 
                        formControlName="description"
                          id="example-text-input"
                          [ngClass]="{
                            'is-valid': tagFrm.get('description').valid,
                            'is-invalid': tagFrm.get('description').invalid
                            && tagFrm.get('description').touched
                          }"
                          >
                      </div>
                    </div>
                    <div *ngIf="tagFrm.get('description').invalid && tagFrm.get('description').touched" class="alert alert-danger">
                      <ng-container *ngIf="tagFrm.get('description').hasError('required')">
                        chưa có mô tả
                      </ng-container>
                      <ng-container *ngIf="tagFrm.get('description').hasError('minlength')">
                        nhập ít nhất {{tagFrm.get('description').getError('minlength').requiredLength}} kí tự
                      </ng-container>
                      <ng-container *ngIf="tagFrm.get('description').hasError('maxlength')">
                        nhập nhiều nhất {{tagFrm.get('description').getError('maxlength').requiredLength}} kí tự
                      </ng-container>
                    </div>



                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Status:</label>
                        <div class="col-10">
                          <input class="form-control" 
                          type="number" 
                          maxlength=11
                          required
                          formControlName="status"
                            id="example-text-input"
                            [ngClass]="{
                              'is-valid': tagFrm.get('status').valid,
                              'is-invalid': tagFrm.get('status').invalid
                              && tagFrm.get('status').touched
                            }"
                            >
                        </div>
                      </div>

                      <div *ngIf="tagFrm.get('status').invalid && tagFrm.get('status').touched" class="alert alert-danger">
                        <ng-container *ngIf="tagFrm.get('status').hasError('required')">
                        chưa có trạng thái
                        </ng-container>
                        <ng-container *ngIf="tagFrm.get('status').hasError('minlength')">
                          nhập ít nhất {{tagFrm.get('status').getError('minlength').requiredLength}} số
                        </ng-container>
                        <ng-container *ngIf="tagFrm.get('status').hasError('maxlength')">
                          nhập nhiều nhất {{tagFrm.get('status').getError('maxlength').requiredLength}} số
                        </ng-container>
                      </div>

              </div>

              <div class="modal-footer">
                
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <button  type="submit"  class="btn btn-success" value="Add">ADD</button>

              </div>

            </form>
          </div>
        </div>
      </div> 

<!-- close tag -->

</section>

