<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <div class="box">
    <!-- <div class="box-header with-border">
      <h3 class="box-title">Manage <b>Employees</b>
      </h3>
    </div> -->
    <div class="box-body">
        <!-- <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm"
          placeholder="" aria-controls="DataTables_Table_0"></label></div> -->
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Manage <b>Question</b></h2>
            </div>
            <div class="col-sm-6">
              <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign"></i>
                  <span>Add Tag</span></a>
              <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign"></i>
                <span>Add New Employee</span></a>
              <a href="#deleteEmployeeModal" class="btn btn-warning" data-toggle="modal"><i class="glyphicon glyphicon-list-alt"></i>
                <span>Update Many Question</span></a>
            </div>
          </div>
        </div>
        <div class="table-title-2">
            <div class="row">
              <div class="col-sm-6">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Filter by...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                      </span>
                    </div>
              </div>
              <div class="col-sm-6">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by content">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                      </span>
                    </div>

              </div>
            </div>
          </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr  class="info">
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th>
              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 100px; font-size: 20px;">Category</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Date registered: activate to sort column ascending" style="width: 130px; font-size: 20px;">Create By</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Role: activate to sort column ascending" style="width: 130px; font-size: 20px;">Date</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 121.8px; font-size: 20px;">Level</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 240.2px; font-size: 20px;">Content</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Status: activate to sort column ascending" style="width: 121.8px; font-size: 20px;">Tag</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Actions: activate to sort column ascending" style="width: 350px; font-size: 20px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td class="sorting_1">Java</td>
              <td class="sorting_1">lhlinh</td>
              <td>2012/01/21</td>
              <td>easy</td>
              <td>Java content basic</td>
              <td>IT</td>
              <td><a href="#editEmployeeModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                title="View Detail"></i></a>
            <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-plus" data-toggle="tooltip"
                title="Add New Question"></i></a>
                <a href="#editEmployeeModal" class="btn btn-warning" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                    title="Edit"></i></a>
                <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-trash" data-toggle="tooltip"
                    title="Delete"></i></a>
              </td>
            </tr>
            <tr>
                <td>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="checkbox1" name="options[]" value="1">
                      <label for="checkbox1"></label>
                    </span>
                  </td>
                  <td class="sorting_1">Java</td>
                  <td class="sorting_1">lhlinh</td>
                  <td>2012/01/21</td>
                  <td>easy</td>
                  <td>Java content basic</td>
                  <td>IT</td>
                  <td><a href="#editEmployeeModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                    title="View Detail"></i></a>
                <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-plus" data-toggle="tooltip"
                    title="Add New Question"></i></a>
                    <a href="#editEmployeeModal" class="btn btn-warning" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                        title="Edit"></i></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-trash" data-toggle="tooltip"
                        title="Delete"></i></a>
                  </td>
            </tr>
            <tr>
                <td>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="checkbox1" name="options[]" value="1">
                      <label for="checkbox1"></label>
                    </span>
                  </td>
                  <td class="sorting_1">Java</td>
                  <td class="sorting_1">lhlinh</td>
                  <td>2012/01/21</td>
                  <td>easy</td>
                  <td>Java content basic</td>
                  <td>IT</td>
                  <td><a href="#editEmployeeModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                    title="View Detail"></i></a>
                <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-plus" data-toggle="tooltip"
                    title="Add New Question"></i></a>
                    <a href="#editEmployeeModal" class="btn btn-warning" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                        title="Edit"></i></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-trash" data-toggle="tooltip"
                        title="Delete"></i></a>
                  </td>
            </tr>
            <tr>
                <td>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="checkbox1" name="options[]" value="1">
                      <label for="checkbox1"></label>
                    </span>
                  </td>
                  <td class="sorting_1">Java</td>
                  <td class="sorting_1">lhlinh</td>
                  <td>2012/01/21</td>
                  <td>easy</td>
                  <td>Java content basic</td>
                  <td>IT</td>
                  <td><a href="#editEmployeeModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                    title="View Detail"></i></a>
                <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-plus" data-toggle="tooltip"
                    title="Add New Question"></i></a>
                    <a href="#editEmployeeModal" class="btn btn-warning" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                        title="Edit"></i></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-trash" data-toggle="tooltip"
                        title="Delete"></i></a>
                  </td>
            </tr>
            <tr>
                <td>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="checkbox1" name="options[]" value="1">
                      <label for="checkbox1"></label>
                    </span>
                  </td>
                  <td class="sorting_1">Java</td>
                  <td class="sorting_1">lhlinh</td>
                  <td>2012/01/21</td>
                  <td>easy</td>
                  <td>Java content basic</td>
                  <td>IT</td>
                  <td><a href="#editEmployeeModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-eye-open" data-toggle="tooltip"
                    title="View Detail"></i></a>
                <a href="#deleteEmployeeModal" class="btn btn-success" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-plus" data-toggle="tooltip"
                    title="Add New Question"></i></a>
                    <a href="#editEmployeeModal" class="btn btn-warning" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                        title="Edit"></i></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="margin-right: 5px;"><i class="glyphicon glyphicon-trash" data-toggle="tooltip"
                        title="Delete"></i></a>
                  </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
          <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Add Employee</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-success" value="Add">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Edit Employee</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-info" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Delete Employee</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete these Records?</p>
              <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
<script type="text/javascript">
  $(document).ready(function () {
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function () {
      if (this.checked) {
        checkbox.each(function () {
          this.checked = true;
        });
      } else {
        checkbox.each(function () {
          this.checked = false;
        });
      }
    });
    checkbox.click(function () {
      if (!this.checked) {
        $("#selectAll").prop("checked", false);
      }
    });
  });
</script>
