/* -------------------------------- content */
.exam-content {
   padding: 10px 50px;
}

.panel-heading {
   background-color: #435d7d;
}

.panel-title{
   font-size: 40px;
   text-align: center;
}

.question-wrapper {
   padding: 10px 5%;
}

.question-wrapper .form-check label {
   font-weight: normal;
}
