<section class="content-header">
  <h2 style="text-align: center">List Group Users</h2>
  <div style="margin-bottom: 4em">
    <a class="btn btn-primary btn-lg pull-left" [routerLink]="['/group','addGroupUser']">Add Group</a>
    <div class="pull-right">
      <input type="text" placeholder="Search" [(ngModel)]="groupName" style="margin-right: 1em">
      <button type="button" (click)="searchGroupUser()" class="btn btn-primary btn-lg">Search</button>
    </div>
  </div>
  <div *ngIf="groupUsers">
    <table class="table table-hover table-bordered">
      <thead style="background-color: #20c947;">
        <tr >
          <th>Id</th>
          <th>Group Name</th>
          <th>Created By</th>
          <th>Create Date</th>
          <th style="width: 15% !important">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class=" table-primary" *ngFor="let item of groupUsers | async">
          <td>{{item.groupId}}</td>
          <td>{{item.groupName}}</td>
          <td>{{item.createBy}}</td>
          <td>{{item.createDate}}</td>
          <td style="width: 15% !important">
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/group','detail',item.groupId]">Detail</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-lg" (click)="deleteGroupUsers(item.groupId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>