<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Course Video
    <small>show all the fields of exams</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/cms']"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Course</li>
  </ol>
</section>

<notifier-container></notifier-container>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div></div>
          <div class="left"></div>
        </div>
        <div class="box-body">
          <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4 col-md-offset-8">
              <a class="btn btn-success pull-right" [routerLink]="['add']">
                <i class="glyphicon glyphicon-plus-sign"></i><span>Add New Course</span></a>
            </div>
          </div>
          <div class="col-md-2" style="float: left;padding: 0px">
            <mat-form-field class="filter">
              <mat-label> Course Catalog </mat-label>
              <mat-select (valueChange)="selectFilter($event)">
                <mat-option *ngFor="let catalog of courseCatalog" [value]="catalog.categoryCourseId">
                  {{catalog.categoryCourseName}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row" style="margin-bottom: 10px">
            <div class="col-md-3 pull-right">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control " placeholder="Enter Course Name ..." [(ngModel)]="searchStr"
                  (keypress)="keyPressSearch($event)">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-info btn-flat" (click)="searchByContent()">Search</button>
                </span>
              </div>
            </div>
          </div>


          <table class="table table-bordered table-striped" mat-table [dataSource]="dataSource" matSort
            matSortActive="nameCourse" matSortDirection="asc" matSortDisableClear style="width: 100%">
            <ng-container matColumnDef="nameCourse">
              <th style="width: 25%" mat-header-cell *matHeaderCellDef mat-sort-header>
                Name Course
              </th>
              <td mat-cell *matCellDef="let element">
                <a [routerLink]="[element.courseId]">{{element.courseName }} </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="catalog">
              <th style="width: 10%" mat-header-cell *matHeaderCellDef mat-sort-header> Catalog </th>
              <td mat-cell *matCellDef="let element">
                {{element.courseCatalog.categoryCourseName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="tuition">
              <th style="width: 15%" mat-header-cell *matHeaderCellDef mat-sort-header> Tuition </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.price == 0 ;else tmp">
                  <p>Membership</p>
                </div>
                <ng-template #tmp>
                  {{element.price }}
                </ng-template>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th style="width: 20%" mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <div [ngSwitch]="element.status">
                  <div *ngSwitchCase="'1'">
                    <span class="badge bg-aqua">Public</span>
                  </div>
                  <div *ngSwitchCase="'0'">
                    <span class="badge bg-red">Private</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="actions" style="width: 30%;"></th>
              <td mat-cell *matCellDef="let element">
                <a [routerLink]="[element.courseId,'chapter']" class="btn" style="color: #666"><i
                    style="font-size: 15px;" class="fa fa-fw fa-file"></i><span>Chapter</span></a>
                <a class="btn" [routerLink]="[element.courseId]" style="color: #666">
                  <i class="fa fa-fw fa-eye"></i>Detail</a>
                <a class="btn" style="color: #666" data-toggle="modal" (click)="setCourseID(element.courseId)"
                  data-target="#modal-default"><i style="font-size: 15px;"
                    class="glyphicon glyphicon-trash"></i>Delete</a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let menu; columns: displayedColumns;"></tr>
          </table>
          <div class="clearfix">
            <div class=hint-text>Showing
              <select name="choisepage" (change)="choisePage($event.target)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
              entries
            </div>
            <ul class="pagination">
              <li class="page-item" [ngClass]="{disabled:tabAllCourse.currentPage===0}">
                <a (click)="setPage(0)"><i class="glyphicon glyphicon-step-backward"></i></a>
              </li>
              <li class="page-item" [ngClass]="{disabled:tabAllCourse.currentPage===0}">
                <a (click)="previousPage()"><i class="glyphicon glyphicon-menu-left"></i></a>
              </li>
              <li class="page-item" [ngClass]="{disabled:tabAllCourse.currentPage=== maxPage - 1}">
                <a (click)="nextPage()"><i class="glyphicon glyphicon-menu-right"></i></a>
              </li>
              <li class="page-item" [ngClass]="{disabled:tabAllCourse.currentPage=== maxPage - 1}">
                <a (click)="setPage(maxPage - 1)"><i class="glyphicon glyphicon-step-forward"></i></a>
              </li>
            </ul>
          </div>


          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Delete Course</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure do you want to delete ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" (click)="deleteCourse()"
                    data-dismiss="modal">Delete</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
