.exam-title{
  margin-top: 0px !important;
  margin-bottom: 30px !important;
}
.mr-3 {
  margin-right: 15px !important;
}

.pd-3{
  padding-left: 4% !important;
}

.pd-5{
  padding-left: 15% !important;
}
