<div class="box-body">
  <div
    id="example1_wrapper"
    class="dataTables_wrapper form-inline dt-bootstrap"
  >
    <div class="row">
      <div class="col-sm-4 pull-left">
        <div class="dataTables_length" id="example1_length">
          <label
            >Show
            <select
              class="form-control br-5 input-sm"
              (change)="changePageSizeTabAllQuestion($event.target)"
            >
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
            entries
          </label>
        </div>
      </div>
      <div class="col-sm-4 form-group text-center"></div>
      <div class="col-sm-4 form-group">
        <div class="pull-right">
          <div class="input-group input-group-sm">
            <input
              type="text"
              class="form-control "
              placeholder="Question content..."
              [(ngModel)]="searchStr"
              (keypress)="keyPressSearch($event)"
            />
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-info btn-flat"
                (click)="clickSearch()"
              >
                Search
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-12">
        <table
          id="example1"
          class="table table-bordered table-striped dataTable"
          role="grid"
        >
          <thead>
            <tr role="row" class="text-center">
              <th style="width: 3%;">
                <span class="custom-checkbox">
                  <input
                    if="selectAll"
                    class="scale"
                    type="checkbox"
                    [checked]="isCheckAll"
                    (change)="selectAll()"
                  />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th style="width: 3%;">No</th>
              <th
                style="width: 20%;"
                class="sorting"
                (click)="sortTableByContent()"
              >
                Question content
                <i
                  class="fas fa-sort-asc"
                  [ngClass]="{
                    'fa-sort': isSort === 0,
                    'fa-sort-asc': isSort === 1,
                    'fa-sort-desc': isSort === 2
                  }"
                ></i>
              </th>
              <ng-template ngFor let-option [ngForOf]="numberOption">
                <th [ngStyle]="{ width: optionWidth }">
                  Option {{ option + 1 }}
                </th>
              </ng-template>
            </tr>
          </thead>
          <tbody *ngFor="let question of questions; index as i">
            <tr
              role="row"
              class="odd"
              [ngClass]="{
                warning:
                  selection[
                    tabAllQuestion.currentPage * tabAllQuestion.sizeOfPage + i
                  ]?.status === false
              }"
            >
              <td>
                <ng-container
                  *ngIf="
                    selection[
                      tabAllQuestion.currentPage * tabAllQuestion.sizeOfPage + i
                    ]?.status === false
                  "
                >
                  <span class="custom-checkbox-1">
                    <input
                      [id]="'chk-' + i"
                      type="checkbox"
                      class="scale disabled"
                    />
                    <label [attr.for]="'chk-' + i"></label>
                  </span>
                </ng-container>
                <ng-container
                  *ngIf="
                    selection[
                      tabAllQuestion.currentPage * tabAllQuestion.sizeOfPage + i
                    ]?.status
                  "
                >
                  <span class="custom-checkbox">
                    <input
                      [id]="'chk-' + i"
                      type="checkbox"
                      class="scale"
                      [checked]="
                        selection[
                          tabAllQuestion.currentPage *
                            tabAllQuestion.sizeOfPage +
                            i
                        ]?.checked
                      "
                      (change)="selectQuestion(question.questionId)"
                    />
                    <label [attr.for]="'chk-' + i"></label>
                  </span>
                </ng-container>
              </td>
              <td>
                {{
                  tabAllQuestion.currentPage * tabAllQuestion.sizeOfPage + i + 1
                }}
              </td>
              <td>
                {{ question.content }}
              </td>
              <!-- <ng-template ngFor let-answer [ngForOf]="question.answers"> -->
              <ng-template
                ngFor
                let-option
                [ngForOf]="numberOption"
                let-i="index"
              >
                <ng-template [ngIf]="question.answers[i] != 'undefined'">
                  <td
                    [ngClass]="{
                      'text-red': question.answers[i]?.true === true
                    }"
                  >
                    {{ question.answers[i]?.content }}
                  </td>
                </ng-template>
                <ng-template [ngIf]="question.answers[i] === 'undefined'">
                  <td></td>
                </ng-template>
              </ng-template>
              <!-- </ng-template> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div
          class="dataTables_info mt-3"
          id="example1_info"
          role="status"
          aria-live="polite"
        >
          Showing
          {{ tabAllQuestion?.currentPage * tabAllQuestion?.sizeOfPage + 1 }}
          to
          {{
            (tabAllQuestion?.currentPage + 1) * tabAllQuestion?.sizeOfPage <
            tabAllQuestion?.entities
              ? (tabAllQuestion?.currentPage + 1) * tabAllQuestion?.sizeOfPage
              : tabAllQuestion?.entities
          }}
          of {{ tabAllQuestion?.entities }} entries
        </div>
      </div>
      <div class="col-sm-7">
        <div
          class="dataTables_paginate paging_simple_numbers"
          id="example1_paginate"
        >
          <ul class="pagination">
            <li
              class="paginate_button previous"
              id="example1_previous"
              [ngClass]="{
                disabled: tabAllQuestion?.currentPage === 0
              }"
            >
              <ng-template
                [ngIf]="
                  tabAllQuestion?.currentPage > 0 &&
                  tabAllQuestion?.entities > 0
                "
              >
                <a (click)="previousPage()">Previous</a>
              </ng-template>
              <ng-template
                [ngIf]="
                  tabAllQuestion?.currentPage === 0 &&
                  tabAllQuestion?.entities > 0
                "
              >
                <a>Previous</a>
              </ng-template>
            </li>
            <li class="paginate_button active">
              <a href="#">{{ tabAllQuestion?.currentPage + 1 }}</a>
            </li>
            <li
              class="paginate_button next"
              id="example1_next"
              [ngClass]="{
                disabled:
                  (tabAllQuestion?.currentPage + 1) *
                    tabAllQuestion?.sizeOfPage >=
                  tabAllQuestion?.entities
              }"
            >
              <ng-template
                [ngIf]="
                  (tabAllQuestion?.currentPage + 1) *
                    tabAllQuestion?.sizeOfPage >=
                  tabAllQuestion?.entities
                "
              >
                <a>Next</a>
              </ng-template>
              <ng-template
                [ngIf]="
                  (tabAllQuestion?.currentPage + 1) *
                    tabAllQuestion?.sizeOfPage <
                  tabAllQuestion?.entities
                "
              >
                <a (click)="nextPage()">Next</a>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <button
          class="btn btn-primary"
          (click)="clickSubmitTab2()"
          [ngClass]="{ disabled: isAdd === false }"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
