<section class="content-header">
  <h1>Exam Detail</h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active" [routerLink]="['/exam']">Exam</li>
    <li class="active">Exam detail</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <button
    class="btn btn-warning"
    style="width: 100px;margin-bottom: 10px"
    [routerLink]="['/exam', detailExam.id, 'update']"
  >
    Update
  </button>
  <button class="btn btn-primary" style="width: 100px;margin-bottom: 10px">
    Export
  </button>
  <div class="box box-warning" *ngIf="detailExam">
    <div class="box-header with-border">
      <b>
        <h3 class="text-center">{{ detailExam.title }}</h3>
        <div class="pull-left" style="margin-left: 5%">
          Exam ID: {{detailExam.id}}
          <p>Category: {{detailExam.category_id}} </p>
          <p>Duration: {{detailExam.duration}} minute(s)</p>
          <p>Note: {{detailExam.note}}</p>
        </div>
        <div class="pull-right" style="padding-right: 5%">
          <p>Number of question: {{ detailExam.number_of_question }}</p>
          <p>Created at: {{ detailExam.created_at }}</p>
          <p>
            Created by: <a href="#">{{ detailExam.create_by }}</a>
          </p>
        </div>
      </b>
    </div>

    <hr />
    <div style="margin-left: 5%">
      <div *ngFor="let question of detailExam.questions; index as i">
        <label>Question {{ i + 1 }}:</label> {{ question.content }}
        <div *ngFor="let answer of question.answers">
          <div *ngIf="answer.is_true == 0; else template">
            <div class="checkbox">
              <label
                ><input type="checkbox" value="" disabled />{{
                  answer.content
                }}</label
              >
            </div>
          </div>
          <ng-template #template>
            <div class="checkbox">
              <label style="color: red"
                ><input type="checkbox" value="" disabled checked />{{
                  answer.content
                }}</label
              >
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
