.container_position_relative {
  position: relative;
  margin-top: -90px;

}
.row_position_absolute {
  width: 500px;
  background: url("http://mocmedia.com.vn/wp-content/uploads/2018/03/hinh-nen-wallpaper-thien-nhien.jpg") no-repeat center;
  height: 845px;
  position : absolute;
  top: 40%;
  left: 40%;
}
.text-center {
  text-align : center;
  margin-top: 210px;
  font-size: 40px;
}
.text-white {
  color: #fff;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:active {
  background-color: red;
}
.text-red {
  color: #AA0000;
  font-weight: bold;
  font-size: 16px;
}
