<section class="content-header">
   <h1>
      Dashboard
      <small>Control panel</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
   </ol>
</section>
<section class="content">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Semester Exam</h3>
      </div>
      <div class="panel-body">
         <form class="form-horizontal" [formGroup]="profileFrm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
               <label for="name" class="col-sm-2 control-label">Tên kỳ thi</label>
               <div class="col-sm-10">
                  <input class="form-control" type="text" id="example-text-input" placeholder="Tên kỳ thi"
                     formControlName="name" autocomplete="off">
                  <div *ngIf="profileFrm.get('name').invalid
                                   && profileFrm.get('name').touched" style="color: red" role="alert">
                     <ng-container *ngIf="profileFrm.get('name').hasError('required')">
                        Tên kì thi không được để trống
                     </ng-container>
                  </div>
               </div>
            </div>
            <!-- <div class="form-group">
               <label for="createby" class="col-sm-2 control-label">Người tạo</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="createby" placeholder="Người tạo">
               </div>
            </div> -->

            <div class="form-group">
               <label class="col-sm-2 control-label">Ngày bắt đầu</label>
               <div class="col-sm-4">
                  <!-- <mat-form-field>
                           <input matInput [matDatepicker]="picker1">
                           <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                           <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field> -->

                  <div class="input-group">
                     <input type="text" placeholder="Chọn ngày bắt đầu" class="form-control" bsDatepicker
                        #start="bsDatepicker" formControlName="startTime" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                        (ngModelChange)="getStartTime($event)" [bsValue]="startTime">
                     <div class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="start.show()">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </div>
                  </div>
                  <div *ngIf="profileFrm.get('startTime').invalid
                                   && profileFrm.get('startTime').touched" style="color: red" role="alert">
                     <ng-container *ngIf="profileFrm.get('startTime').hasError('required')">
                        Thời gian bắt đầu là bắt buộc chọn
                     </ng-container>
                  </div>
               </div>

               <label class="col-sm-2 control-label">Ngày kết thúc</label>
               <div class="col-sm-4">
                  <!-- <mat-form-field>
                           <input matInput [matDatepicker]="picker2">
                           <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                           <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field> -->
                  <div class="input-group">
                     <input type="text" placeholder="Chọn ngày kết thúc" class="form-control" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" #end="bsDatepicker" formControlName="endTime">
                     <div class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="end.show()">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </div>
                  </div>
                  <div *ngIf="profileFrm.get('endTime').invalid
                                   && profileFrm.get('endTime').touched" style="color: red" role="alert">
                     <ng-container *ngIf="profileFrm.get('endTime').hasError('required')">
                        Thời gian kết thúc là bắt buộc chọn
                     </ng-container>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label for="describe" class="col-sm-2 control-label">Mô tả kỳ thi</label>
               <div class="col-sm-10">
                  <ckeditor name="myckeditor" required [config]="ckeConfig" debounce="500" (change)="onChange($event)"
                     formControlName="description">
                  </ckeditor>
               </div>
            </div>

            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary"
                     [disabled]="profileFrm.pristine || profileFrm.invalid">Save</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</section>
