<!-- <div>
   <a style="margin-right: 10px" class="btn btn-primary" [routerLink]="['lesson']">lesson</a>
</div> -->
<section class="content-header">
  <h1>
   Chapter
    <small>show all the fields of chapters</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/cms']"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a [routerLink]="['/cms','course']"> Course</a></li>
    <li class="active">Chapter</li>
  </ol>
</section>
<section class="content">
  <div class="box">
     <div class="box-body">
        <div class="table-wrapper">

           <div class="container-fluid">
              <div class="row">
                 <!-- <div class="col-md-6"> -->
                    <a  class="btn btn-success btn-sm"><span
                          class="glyphicon glyphicon-plus"></span> Add
                       Chapter</a>
                    <div class="col-md-4 pull-right">
                       <input type="text" class="input-sm" placeholder="search"> &nbsp; &nbsp;
                       <button class="btn btn-default" type="button" >
                          <i class="glyphicon glyphicon-search"></i>   &nbsp;&nbsp;&nbsp; Tìm kiếm
                       </button>
                    </div>
                 <!-- </div>  [(ngModel)]="keyword"  name="keyword" -->
                 <!-- <div class="col-md-6">
                    <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search">
                       <div class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                             <i class="glyphicon glyphicon-search"></i>
                          </button>
                       </div>
                    </div>
                 </div> class="table table-bordered table-hover table-sm" -->
              </div>
              <div class="row" style="margin-top: 10px;">
              <table  class="table table-striped table-bordered table-sm" mat-table [dataSource]="dataSource" matSort
                  cellspacing="0" width="100%">
                 <!-- STT Column -->
                 <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="stt"> STT </th>
                    <td mat-cell *matCellDef="let chapters;let i = index;"> {{dataSource.filteredData.indexOf(chapters)+1}}</td>
                 </ng-container>

                 <ng-container matColumnDef="chapterName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let chapters">{{chapters.chapterName}}</td>
                 </ng-container>

                 <!-- Actions -->
                 <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="actions" style="width: 25%;">Action</th>
                    <td mat-cell *matCellDef="let chapters">
                        <button [routerLink]="[chapters.chapterId,'lesson']" class="btn btn-default btn-sm"style="margin-right: 5px;"><span class="glyphicon glyphicon-file"></span>&nbsp;Lesson</button>
                        <button class="btn btn-warning btn-sm"style="margin-right: 5px;"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-sm"><span
                          class="glyphicon glyphicon-trash"></span> Delete</button>
                    </td>
                 </ng-container>

                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let chapters; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
              </div>
           </div>

        </div>
     </div>

  </div>
</section>


