<div id="menu2">
   <h3 style="text-align: center;">Thi tuyển java fresher</h3>
   <br>
   <div>
   </div>
   <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
         <form class="form-horizontal">
            <div class="form-group">
               <label class="col-md-3 control-label">
                  Tên kỳ thi:
               </label>
               <div class="col-md-8">
                  <input type="text" class="form-control" value="Thi tuyển fresher java">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                  <label>Người tạo kỳ thi:</label>

               </div>
               <div class="col-md-8">
                  <label>nvdiem</label>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">
                  Trạng thái:
               </label>
               <div class="col-md-6">
                  <select name="" id="" class="form-control">
                     <option>
                        Draft
                     </option>
                     <option>
                        Done
                     </option>
                     <option>
                        Public
                     </option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">
                  Thời gian thi:
               </label>
               <div class="col-md-6">
                  <!-- <input type="text" class="form-control" value=""> -->
                  <div class="input-group">
                     <input type="text" placeholder="" class="form-control" bsDatepicker #start="bsDatepicker"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                     <div class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="start.toggle()">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label">
                  Thời gian kết thúc:
               </label>
               <div class="col-md-6">
                  <!-- <input type="text" class="form-control"> -->
                  <div class="input-group">
                     <input type="text" placeholder="" class="form-control" bsDatepicker #time_end="bsDatepicker"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                     <div class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="time_end.toggle()">
                           <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                  <label>Số lượng người tham gia:</label>

               </div>
               <div class="col-md-8">
                  <label>0</label>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                  <button class="btn btn-default">Tạo mã thi</button>
               </div>
               <div class="col-md-3">
                  <input type="text" class="form-control" value="009djj22aa">
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
                  <button class="btn btn-default pull-right">Apply</button>
               </div>

            </div>
         </form>

      </div>
      <div class="col-md-2">
      </div>
   </div>

</div>
